apiVersion: v1
kind: Service
metadata:
  name: {{ include "hubble-guard.prometheus.serviceName" . }}
  namespace: hubble-guard
  labels:
    {{- include "hubble-guard.prometheus.labels" . | nindent 4 }}
  {{- with .Values.prometheus.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.prometheus.service.type }}
  ports:
    - port: {{ .Values.prometheus.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "hubble-guard.prometheus.selectorLabels" . | nindent 4 }}

